<h1 mat-dialog-title>Formulaire des Produits</h1>
<form  [formGroup]="prodForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content>
  <div class="NI" >

    <mat-form-field appearance="fill" style="margin-right: 10px;">
    <mat-label> Nom </mat-label>
    <input matInput type="text" formControlName="nom">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label> image </mat-label>
    <input matInput type="text" formControlName="image">
  </mat-form-field>
  </div>
  <div class="NI" >

    <mat-form-field appearance="fill" style="margin-right: 10px;">
    <mat-label> Quantité </mat-label>
    <input matInput type="number" (input)="validatePositiveValue($event)" min="0" formControlName="quantite">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label> Prix </mat-label>
    <input matInput type="number" (input)="validatePositiveValue($event)" min="0" formControlName="prix" >
  </mat-form-field>
  </div>


  <mat-form-field  >
  <mat-label>Categorie</mat-label>
  <div formGroupName="categorie">
  <mat-select formControlName="id" >
<mat-option *ngFor="let cat of getData" [value]="cat.id | json">{{ cat.nom | json }}</mat-option>
  </mat-select>
  </div>
</mat-form-field>


  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <textarea matInput rows="4" formControlName="description"></textarea>
  </mat-form-field>
 
</div>
<div mat-dialog-actions class="action">
  <button mat-raised-button type="reset"> Annuler </button>
  <button mat-raised-button color="primary" type="submit" > {{ data ? ' Modifier' : "S'auvegarder"}} </button>
</div>
</form>