
<body>
    <div class="container" id="container">
        <div class="form-container sign-in">
            <form>
                <h1>S'inscrire</h1>
                <br>
                <span>Vous devez saisir vos données</span>
                <input type="email" name="username" [(ngModel)]="loginObj.username" placeholder="Email">
                <input type="password" name="password" [(ngModel)]="loginObj.password" placeholder="Password">
                <button type="button" (click)="onLogin()" >S'inscrire</button> <br>
                   <a (click)="onSignup()">
                     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                     <u>Se Connecter</u> 
                    </a> 
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                        </div>
            </div>
        </div>
    </div>
</body>
