<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
						
								<img [src]="imageUrl" alt="" style="height: 150px; width: 250px; margin-top: -25px;">
							
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu" style="margin-right: 180px;">
							<ul>
								<li class="current-list-item"><a href="#">Home</a>
									<ul class="sub-menu">
										<li><a href="index.html">Static Home</a></li>
										<li><a href="index_2.html">Slider Home</a></li>
									</ul>
								</li>							
								<!-- <li><a href="#">News</a>
									<ul class="sub-menu">
										<li><a href="news.html">News</a></li>
										<li><a href="single-news.html">Single News</a></li>
									</ul>
								</li>
								<li><a href="contact.html">Contact</a></li> -->
								<li>
         <button style="background-color:transparent ;
            border: none; 
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            font-weight: bold;"
            (click)="navProd()" > Produits  </button>
        
									
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="#"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-user"></i></a>
										<!-- ***************************************************************** -->
											
											<ul class="sub-menu">
											<li>
												<a class="mobile-hide" href="#"> <i class="fas fa-eye"></i> &nbsp; Consulter profile
												</a> 											
											</li>
											<li>
												<a href="#" > <i class="fas fa-user-edit"></i> &nbsp; Modifier profile </a>
											</li>
											<li>
												<a href="#" > <i class="fas fa-sign-out-alt"></i>&nbsp;  Déconnexion </a>
											</li>
										</ul>
										<!-- ***************************************************************** -->
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>