
<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>                
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <button>Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form  (submit)="handleSubmit()">
                <h1>Se Connecter</h1>
                <br>
                <p *ngIf="errorMessage" class="error-message">{{errorMessage}}</p>
                     
                <input type="text" [(ngModel)]="email" name="email" placeholder="Email">
                <input type="password" [(ngModel)]="password" name="password" placeholder="Password">
                <button type="submit" >Sign In</button> <br>
                   <a (click)="onSignup()"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <u>Sign Up</u> </a> 
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                        </div>
            </div>
        </div>
    </div>
</body>
