<app-header></app-header>
	<div class="breadcrumb-section">
		
	</div> <br><br><br><br>
 <h1 style="text-align: center; color: orange; font-weight: bold;" > Informations de profile</h1>
<div class="container">

    <p *ngIf="errorMessage" class="error-message">{{errorMessage}}</p>
    <p>Name: {{profileInfo?.ourUsers?.name}}</p>
    <p>Email: {{profileInfo?.ourUsers?.email}}</p>
    <p>City: {{profileInfo?.ourUsers?.city}}</p>
    <button 
    
    (click)="updateProfile(profileInfo?.ourUsers?.id)">Modifier Le Profile</button>
</div>


 <br> <br> <br><br><br><br> <br>
	<app-footer></app-footer>
